@use "@/features/site/assets/styles/variable" as vars;

.gallery__slider {
  width: 100%;
  padding: 0 100px;
  overflow: hidden;

  & .slider {
    overflow: visible;
    &__card {
      position: relative;
      width: 100%;
      height: 600px;

      border-radius: 26px;
      overflow: hidden;

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1440px) {
  .gallery__slider {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  .gallery__slider {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .gallery__slider {
    padding: 0 22px;
  }
}
