// Web Site color
$primary-color: #133557;
$secondary-color: linear-gradient(#0c274a, #174068);

// Web Site color secondary
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-red-color: #fd4343;

// Web Site Border
$border-radius: 8px;
$border-width: 1px solid #e7e7e7;
$border-black: 1px solid #292929;
