//Font
$font-primary: "Playfair Display";
$font-secondary: "Rubik", sans-serif;
$font-tertiary: "Mulish", sans-serif;

//Colors
$color-primary: #172432;
$color-secondary: #ff7757;
$color-tertiary: #767e86;
$color-white: #ffffff;
$color-black: #000000;

$border-radius: 12px;
