@use "@/features/site/assets/styles/variable" as vars;

.offers__slider {
  width: 100%;
  padding: 0 100px;
  overflow: hidden;

  & .slider {
    overflow: visible;
    &__card {
      position: relative;
      width: 100%;
      height: 500px;

      border-radius: 26px;
      overflow: hidden;

      &__image {
        width: 100%;
        height: 50%;

        & .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__content {
        width: 100%;
        height: 50%;
        padding: 40px 24px;
        background: #fff8f1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;

        & .title {
          color: #767e86;
          font-family: vars.$font-tertiary;
          font-size: 24px;
          font-weight: 400;
          margin: 0 0 16px;
        }

        & .description {
          color: #172432;
          font-family: vars.$font-secondary;
          font-size: 16px;
          font-weight: 400;
        }

        & .tools {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & .price {
            color: vars.$color-secondary;
            font-family: vars.$font-secondary;
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .offers__slider {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  .offers__slider {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .offers__slider {
    padding: 0 22px;
  }
}
